body {
	background: #000000;
	background-image: url(../images/site/starfiel.gif);
}

h1 {
	color: #ffff00;
	text-align: center;
	font-size:10em;
}

h2 {
	color: #ffffff;
	font-size:2em;
}

nav ul li {
	display: inline;
	padding-right:1em;
}

nav ul li a {
	color: #ffffff;
}

pre {
	background-color: rgba(22,22,22,.8);
	padding:1em;
	border-radius:4px;
 color:#eeeeee;
 line-height:1.4em;
 white-space: pre-wrap !important;
 word-wrap: break-word !important;
}
